<a class="logoLink" href="javascript:delay('{{ '/' | relative_url }}')">
	<svg class="logo" viewBox="0 0 886 419">
		<g>
			<text x="0" y="348" fill="#EAE2B7">{{ site.title }}</text>
		</g>
		<g>
			<text x="0" y="348" fill="#FCBF49">{{ site.title }}</text>
		</g>
		<g>
			<text x="0" y="348" fill="#F77F00">{{ site.title }}</text>
		</g>
		<g>
			<text x="0" y="348" fill="#D62828">{{ site.title }}</text>
		</g>
		<g>
			<text x="0" y="348" fill="#003049">{{ site.title }}</text>
		</g>
		Prowl
	</svg>
</a>
