#contactBox {
  display: flex;

  div {
	flex: 2;
	margin-right: 10px;

	> div {
	  display: flex;

	  &:first-child {
		margin-left: 0;
	  }

	  &:last-child {
		margin-right: 0;
	  }

	  a {
		@include multi-shadow;
		margin: 0 10px;
	  }
	}
  }

  img {
	height: 200px;
	margin-right: 20px;
  }
}