#motto {
  text-align: center;
  font-size: 3rem;
}

#description {
  text-align: center;
}

#call-to-action {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 10%;
  height: 40px;

  #call-to-action-toggle {
	display: inline-block;
	background-color: $accent-color;
	padding: 0 20px;
	border-radius: 15px;
	text-decoration: none;
	width: 156px;
	transition: width 0.2s;

	> * {
	  color: white;
	}

	img {
	  filter: brightness(100);
	  display: inline;
	  vertical-align: middle;
	  transition: rotate 0.2s;
	}
  }
}

#call-to-action-go {
  @include multi-shadow;
  display: inline-block;
  width: 150px;
  padding: 0 20px;
  margin-top: 20px;
}