#motto {
  text-align: center;
  font-size: 3rem;
}

#description {
  text-align: center;
}

#call-to-action {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 10%;
}

#party-choice {
  display: flex;

  a {
	@include multi-shadow;
	margin: 10px;
	display: block;

	&:hover {
	  @keyframes jiggle {
		from {
		  transform: rotate(3deg);
		}
		to {
		  transform: rotate(-3deg);
		}
	  }

	  img {
		animation: jiggle 0.2s infinite linear alternate-reverse;
	  }
	}

	* {
	  color: white;
	}

	h2 {
	  text-align: center;
	  margin: 10px;
	}

	img {
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	  height: 100px;
	  width: 100px;
	}

	p {
	  text-align: center;
	  //font-size: 2rem;
	}
  }
}