#partyChoice {
  display: flex;

  a {
	flex: 1;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	display: block;
	background-color: #003049;
	border-radius: 15px;
	transition: flex 0.5s;

	&:hover {
	  flex: 1.3;

	  @keyframes jiggle {
		from {
		  transform: rotate(3deg);
		}
		to {
		  transform: rotate(-3deg);
		}
	  }

	  img {
		animation: jiggle 0.2s infinite linear alternate-reverse;
	  }
	}

	* {
	  color: white;
	}

	h2 {
	  text-align: center;
	  margin: 10px;
	}

	img {
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	  height: 100px;
	  width: 100px;
	}

	p {
	  text-align: center;
	  //font-size: 2rem;
	}
  }
}