#motto {
  margin-bottom: 0;
}

#call-to-action {
  margin-top: 5%;
  margin-bottom: 10%;

  #call-to-action-toggle {
	display: inline-block;
	background-color: $accent-color;
	padding: 0 20px;
	border-radius: 15px;
	text-decoration: none;
	width: 156px;
	transition: width 0.2s;
	text-align: center;

	> * {
	  color: white;
	}

	img {
	  filter: brightness(100);
	  display: inline;
	  vertical-align: middle;
	  transition: rotate 0.2s;
	}
  }
}

#call-to-action-go {
  @include multi-shadow;
  display: inline-block;
  padding: 0 20px;
  margin-top: 20px;
  text-align: center;
}

#call-to-action-toggle, #call-to-action-go {
  margin-left: 10px;
  margin-right: 10px;
}

#why-use {
  text-align: center;
  padding-top: 100px;
  font-size: 3rem;
}

#value-prop-summary {
  width: 100%;
  display: flex;

  div {
	width: 100%;

	h2 {
	  text-align: center;
	  font-size: 2rem;
	  //color: #d62828;
	}
  }

  ul {
	padding-left: 0;

	li {
	  margin-bottom: 20px;
	  list-style-type: none;
	  text-align: center;
	}
  }

  a {
	@include multi-shadow;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
  }
}