.join {
  @include multi-shadow;
  display: inline-block;
  padding: 0 20px;
  margin-top: 0;
  text-align: center;
}

#selling-point {
  width: 60%;
}

.info-section {
  width: 100%;
  padding: 10px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 30%;

  &:first-child {
    margin-top: 15%;
  }

  &:last-child {
    margin-bottom: 15%;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 3rem;
  }

  img {
    height: 100%;
    width: auto;
  }

  &:nth-child(2n + 1) {
    img {
      float: right;
      margin-left: 20px;
    }
  }

  &:nth-child(2n) {
    img {
      float: left;
      margin-right: 20px;
    }
  }
}