@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.logoLink {
  text-decoration: none;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes cloud-x {
  from {
	left: 5px;
  }
  to {
	left: -5px;
  }
}
@keyframes cloud-y {
  from {
	top: 3px;
  }
  to {
	top: -3px;
  }
}

.logo {
  position: relative;
  //animation: cloud-x 3s ease-in-out infinite alternate-reverse, cloud-y 1s ease-in-out infinite alternate-reverse;
  width: 100%;

  g {
	transition: transform 0.2s;

	&:nth-child(5) {
	  transform: translate(48px, -48px);
	}
	&:nth-child(4) {
	  transform: translate(36px, -36px);
	}
	&:nth-child(3) {
	  transform: translate(24px, -24px);
	}
	&:nth-child(2) {
	  transform: translate(12px, -12px);
	}

	text {
	  font-family: 'Fredoka One', "Helvetica Neue", Helvetica, sans-serif;
	  font-size: 300px;
	}
  }

  &:hover {
	g {
	  &:nth-child(5) {
		transform: translate(24px, -24px);
	  }
	  &:nth-child(4) {
		transform: translate(18px, -18px);
	  }
	  &:nth-child(3) {
		transform: translate(12px, -12px);
	  }
	  &:nth-child(2) {
		transform: translate(6px, -6px);
	  }
	}
  }

  &:active {
	g {
	  &:nth-child(5) {
		transform: translate(12px, -12px);
	  }
	  &:nth-child(4) {
		transform: translate(9px, -9px);
	  }
	  &:nth-child(3) {
		transform: translate(6px, -6px);
	  }
	  &:nth-child(2) {
		transform: translate(3px, -3px);
	  }
	}
  }
}