* {
  color: $accent-color;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
  text-shadow: rgba($background-color, 0.7) 0 0 2px;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
}

p, li:not(nav) {
  font-size: 1.2em;
}

html, body {
  height: 100%;
}

body {
  background-color: $background-color;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
}

p#footer {
  position: relative;
  display: block;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  margin: 120px 0 0;

  #footer-buttons {
    display: block;
    margin-bottom: 15px;

    a {
      @include multi-shadow;
      display: inline-block;
      padding: 0 10px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

#bottom-splotch {
  width: calc(100% + 50px);
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    $upwards-adjustment: 0%;
    $leftwards-adjustment: 0%;
    $separation: 10px;

    &:nth-child(5) {
      bottom: calc(#{$upwards-adjustment} - #{5*$separation});
      right: calc(#{$leftwards-adjustment} + #{5*$separation});
      fill: #003049;
    }

    &:nth-child(4) {
      bottom: calc(#{$upwards-adjustment} - #{4*$separation});
      right: calc(#{$leftwards-adjustment} + #{4*$separation});
      fill: #D62828;
    }

    &:nth-child(3) {
      bottom: calc(#{$upwards-adjustment} - #{3*$separation});
      right: calc(#{$leftwards-adjustment} + #{3*$separation});
      fill: #F77F00;
    }

    &:nth-child(2) {
      bottom: calc(#{$upwards-adjustment} - #{2*$separation});
      right: calc(#{$leftwards-adjustment} + #{2*$separation});
      fill: #FCBF49;
    }

    &:nth-child(1) {
      bottom: calc(#{$upwards-adjustment} - #{1*$separation});
      right: calc(#{$leftwards-adjustment} + #{1*$separation});
      fill: #EAE2B7;
    }

    &:nth-child(0) {
      bottom: calc(#{$upwards-adjustment} - #{0*$separation});
      right: calc(#{$leftwards-adjustment} + #{0*$separation});
      fill: #EAE2B7;
    }
  }
}

#top-right-splotch {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    $upwards-adjustment: -10%;
    $leftwards-adjustment: -10%;
    $separation: 10px;

    &:nth-child(5) {
      top: calc(#{$upwards-adjustment} - #{5*$separation});
      right: calc(#{$leftwards-adjustment} - #{5*$separation});
      fill: #003049;
    }

    &:nth-child(4) {
      top: calc(#{$upwards-adjustment} - #{4*$separation});
      right: calc(#{$leftwards-adjustment} - #{4*$separation});
      fill: #D62828;
    }

    &:nth-child(3) {
      top: calc(#{$upwards-adjustment} - #{3*$separation});
      right: calc(#{$leftwards-adjustment} - #{3*$separation});
      fill: #F77F00;
    }

    &:nth-child(2) {
      top: calc(#{$upwards-adjustment} - #{2*$separation});
      right: calc(#{$leftwards-adjustment} - #{2*$separation});
      fill: #FCBF49;
    }

    &:nth-child(1) {
      top: calc(#{$upwards-adjustment} - #{1*$separation});
      right: calc(#{$leftwards-adjustment} - #{1*$separation});
      fill: #EAE2B7;
    }

    &:nth-child(0) {
      top: calc(#{$upwards-adjustment} - #{0*$separation});
      right: calc(#{$leftwards-adjustment} - #{0*$separation});
      fill: #EAE2B7;
    }
  }
}

div#main {
  width: 70%;
  margin: 0 auto 0 auto;
  position: relative;
  min-height: calc(100% - 180px);
}