* {
  color: black;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  margin: 0 auto 0 auto;
  width: 100%;

  > ul {
    height: 100%;
    margin: 0;
    display: flex;
    flex: 1;
    padding: 10px;

    > li {
      display: flex;
      flex: 1;

      margin: 10px;
      border-radius: 15px;
      background-color: #003049;
      transition: flex 0.5s;

      &.currentPage {
        box-shadow: -4px 4px #D62828, -8px 8px #F77F00, -12px 12px #FCBF49, -16px 16px #EAE2B7;
      }

      &:hover {
        flex: 1.3;
      }

      > a {
        text-decoration: none;
        font-weight: bold;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: white;
      }
    }
  }
}

h2 {
  font-weight: 700;
}

p, li:not(nav) {
  font-size: 1.2em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $background-color;
  background-image: $background-image;
  background-repeat: repeat;
}

p#footer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: small;
  position: relative;
  bottom: 60px;
  height: 60px;
}

div#main {
  width: 80%;
  padding-bottom: 60px;
  margin: 0 auto 0 auto;
  position: relative;
  min-height: calc(100% + 60px);
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  p, li:not(nav) {
    font-size: 1.5em;
    margin: 0 5px 0 5px
  }

  h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
  }

  div#main {
    width: 90%;
    padding-bottom: 90px;
  }
}