* {
  color: $accent-color;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
  text-shadow: rgba($background-color, 0.7) 0 0 2px;
}

h2 {
  font-weight: 700;
}

p, li:not(nav) {
  font-size: 1.2em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $background-color;
  background-image: $background-image;
  background-position: right top;
  background-repeat: no-repeat;
}

p#footer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: small;
  position: relative;
  bottom: 60px;
  height: 60px;
}

div#main {
  width: 80%;
  padding-bottom: 60px;
  margin: 0 auto 0 auto;
  position: relative;
  min-height: calc(100% + 60px);
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  p, li:not(nav) {
    font-size: 1.5em;
    margin: 0 5px 0 5px
  }

  h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
  }

  div#main {
    width: 90%;
    padding-bottom: 90px;
  }
}