nav {
  display: flex;
  margin: 0 auto 0 auto;
  width: 100%;

  > ul {
	height: 100%;
	margin: 20px 10px;
	display: flex;
	flex: 1;
	padding: 0;

	> li {
	  display: flex;
	  flex: 1;

	  margin: 10px;
	  margin-top: 0;
	  margin-bottom: 0;
	  border-radius: 15px;
	  background-color: #003049;
	  transition: flex 0.5s, box-shadow 0.2s, transform 0.2s;

	  &.currentPage {
		flex: 1.3;
	  }

	  &:hover {
		box-shadow: $theme-shadows;
	  }

	  &:active {
		box-shadow: -2px 2px #D62828, -4px 4px #F77F00, -6px 6px #FCBF49, -8px 8px #EAE2B7;
		transform: translate(-8px, 8px);;
	  }

	  > a {
		text-decoration: none;
		font-weight: bold;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		padding: 10px;
		color: white;
	  }
	}

	&:hover > li {
	  flex: 1;

	  &:hover {
		flex: 1.3;
	  }
	}
  }
}