nav {
  margin: 20px 20px;
  display: flex;

  > a {
	@include multi-shadow;
	margin: 0 10px;

	&.currentPage {
	  flex: 1.3;
	}

	&:first-child {
	  margin-left: 0;
	}

	&:last-child {
	  margin-right: 0;
	}
  }

  &:hover > a {
	flex: 1;

	&:hover {
	  flex: 1.3;
	}
  }
}