---
layout: default
---
<div id="info-start">
	<h2>{{ page.title }}</h2>
	<p>{{ page.underline }} <a class="join" href="">{{ page.call_to_action }}</a></p>

	<button data-tf-popup="uU9kpBPl" data-tf-iframe-props="title=Magma" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#003049;color:#FFFFFF;font-size:18px;border-radius:22px;padding:0 30px;font-weight:bold;height:45px;cursor:pointer;line-height:45px;text-align:center;margin:0;text-decoration:none;">Apply</button>
	<script src="//embed.typeform.com/next/embed.js"></script>
</div>
<p id="selling-point" class="call-out">{{ page.selling_point }}</p>
<h2 id="the-process">The process</h2>
<div>
	{% for section in page.sections %}
		{% if section.title == 'hr' %}
			<hr>
		{% else %}
			<div class="info-section">
				{% assign info_page_folder = page.title | downcase | slugify %}
				{% assign section_filename = section.title | downcase | slugify | append: '.webp' %}

				<img src="{{ '/assets/images/info-icons/' | append: info_page_folder | append: '/' | append: section_filename | relative_url }}" alt="{{ section.title }}">
				<h3>{{ section.title }}</h3>
				<p>{{ section.description | markdownify }}</p>
			</div>
		{% endif %}
	{% endfor %}
</div>
<p id="extra-text" class="call-out">{{ page.extra_text }}</p>
<a class="join" href="">{{ page.call_to_action }}</a>