---
layout: default
---
<div id="info-start">
	<h2>{{ page.title }}</h2>
	<p>{{ page.underline }} <button class="join" data-tf-popup="{{ page.typeform_data_tf_popup }}" data-tf-iframe-props="title=Magma" data-tf-medium="snippet">{{ page.call_to_action }}</button></p>
	<script src="//embed.typeform.com/next/embed.js"></script>
</div>
<p id="selling-point" class="call-out">{{ page.selling_point }}</p>
<h2 id="the-process">The process</h2>
<div>
	{% for section in page.sections %}
		{% if section.title == 'hr' %}
			<hr>
		{% else %}
			<div class="info-section">
				{% assign info_page_folder = page.title | downcase | slugify %}
				{% assign section_filename = section.title | downcase | slugify | append: '.webp' %}

				<img src="{{ '/assets/images/info-icons/' | append: info_page_folder | append: '/' | append: section_filename | relative_url }}" alt="{{ section.title }}">
				<h3>{{ section.title }}</h3>
				<p>{{ section.description | markdownify }}</p>
			</div>
		{% endif %}
	{% endfor %}
</div>
<p id="extra-text" class="call-out">{{ page.extra_text }}</p>
<button class="join" data-tf-popup="{{ page.typeform_data_tf_popup }}" data-tf-iframe-props="title=Magma" data-tf-medium="snippet">{{ page.call_to_action }}</button>